package views

import "time"

templ Hello(name string) {
	<p>{ name }</p>
}

templ Index(currentDate time.Time) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>Templ test, the date is { currentDate.Format("2006-01-02") }</title>
		</head>
		<body>
			@Hello("World")
		</body>
	</html>
}
